<div class="form-container">
    <%= form_for @url_bank, url: {action: "create"} do |f| %>
        <div>
            <%= f.text_field :actual_url, class: "actual_url", placeholder: "Paste a link to shorten"%>
        </div>
        <div>
            <%= f.submit "Get short Url", class: "submit-button" %>
        </div>
    <% end %>
</div>

<% if flash[:error].present? %>
    <div class="flash-error"><%= flash[:error] %></div>
<% end %>

<% if @short_url && !@short_url.blank? %>
    <div class="result">
      Short Url: <span class="url"><%= @short_url %></span>
    </div>
<% end %>