<div class="form-container">
    <%= form_for @url_bank, url: {action: "create"} do |f| %>
        <%= label_tag(:actual_url, "Paste a link to shorten: ") %>
        <%= f.text_field :actual_url %>
        <%= f.submit "Get short Url" %>
    <% end %>
</div>

<% if flash[:error].present? %>
    <%= flash[:error] %>
<% end %>

<% if @short_url && !@short_url.blank? %>
    <div class="result">
      Short Url: <span class="url"><%= @short_url %></span>
    </div>
<% end %>